.dpaa-ai-assistant--settings__components-popover{
	>.components-popover__content{
		width:100%;
		max-width:650px;
		padding:8px;
		color:rgb(117, 117, 117);
		text-align: left;
		white-space:normal;
		font-size:12.5px;
	}
}